$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@mixin transition-all ($duration:500ms, $type:all){
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: $type $duration ease;
    -moz-transition: $type $duration ease;
    -o-transition: $type $duration ease;
    transition: $type $duration ease;
}

$mainColor: #57b955;
$hoverColor: #3f9e46;

.surveyTitle{
  color: $mainColor;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;

  // &:hover{
  //   color: $hoverColor;
  //   text-decoration: none;
  // }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  background-color: #FFF;
  width:100%;
  padding-top: 15px;
  top:-100px;
  z-index: 100;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  position: fixed;
  bottom: -88px;
  padding: 19px 0 10px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #474747;
  width:100%;
  text-align: center;

  & p{
    color: #CCC;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  padding: 60px 100px 100px 100px !important;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

p.lead{
  margin: 40px 0 40px 0;
}

#margin{
  display: none;
}

#hint{
  margin-top: 20px;
  color: #666;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.sectionIntro{
  margin-top:100px;
}
.sectionQuestions{
  margin-top:100px;
  display: none;
}

.sectionResults{
  margin-top: 100px;
  display: none;
}

.questions{
  opacity: .2;
  @include transition-all;
  margin-bottom: 150px;

  &.active{
    opacity: 1;
    @include transition-all;
  }
}

.questions-result{
  opacity: 1;
  margin-bottom: 150px;
}

.subquestions{
  padding-left: 20px;
  //border-left: $mainColor 8px solid;
  display: none;
}

.progress {
    margin: auto;
    width: 20%;
    overflow: hidden;
    height: 8px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sugguestion{
  background: #FFF;
  border: #ccc 2px solid;
  border-radius: 3px;
  padding: 30px;

  & p{
    font-size: 12pt;
    line-height: 1.5;
    color: #666;
  }
}

/* Forms */
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #323232;
    font-family:Arial, sans-serif;
    font-size:16px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: #ccc 1px solid;

    &:hover {
      border: $mainColor 3px solid;
    }
}

input[type="radio"] + label span {
     background-color:#FFF;
}

input[type="radio"]:checked + label span{
     background-color:$mainColor;
}

input[type="radio"]:checked + label span {
  border: #ccc 0px solid;
  @include transition-all(200ms);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1128px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron{
    padding: 20px 30px 20px 30px !important;
  }

  /*p.lead{
    margin: 0;
  }*/
  div.lead{
    margin: 20px 0 20px 0;
  }

  .sectionIntro{
    margin-top:0px;
  }

  .sectionResults{
    margin-top: 0px;
  }
}
